# Kernel bug for Linux < 3.3: sysfs inodes can lose their security context
# and revert to the base sysfs type.
allow rild sysfs:file write;

allow rild self:capability { sys_module dac_read_search dac_override };